@font-face {
	font-family: 'DidotDisplayDemi';
	src: url('didot/24B620_0_0.eot');
	src: url('didot/24B620_0_0.eot?#iefix') format('embedded-opentype'),
	     url('didot/24B620_0_0.woff') format('woff'),
	     url('didot/24B620_0_0.ttf') format('truetype');
}

body {
	font-family: 'DidotDisplayDemi';
	font-size: 22px;
	line-height: 30px;
	background: url(../images/clouds.jpg) fixed;
	color: #222;
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}
h1, h2, h3, h4, h5, h6 { font-family: 'DidotDisplayDemi'; }

header h1 {
	color: #E46964;
	text-shadow: 1px 1px 5px #fff;
	font-size: 130px;
	line-height: 135px;
	margin-top: 40px;
	padding-top: 80px;
}

/** Layout **/
/*.row p {
	padding: 10px;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}*/

@-webkit-keyframes floating {
  0% { -webkit-transform: translateX(20.0000px) translateY(0.0000px); }
  5% { -webkit-transform: translateX(19.0211px) translateY(6.1803px); }
  10% { -webkit-transform: translateX(16.1803px) translateY(11.7557px); }
  15% { -webkit-transform: translateX(11.7557px) translateY(16.1803px); }
  20% { -webkit-transform: translateX(6.1803px) translateY(19.0211px); }
  25% { -webkit-transform: translateX(0.0000px) translateY(20.0000px); }
  30% { -webkit-transform: translateX(-6.1803px) translateY(19.0211px); }
  35% { -webkit-transform: translateX(-11.7557px) translateY(16.1803px); }
  40% { -webkit-transform: translateX(-16.1803px) translateY(11.7557px); }
  45% { -webkit-transform: translateX(-19.0211px) translateY(6.1803px); }
  50% { -webkit-transform: translateX(-20.0000px) translateY(0.0000px); }
  55% { -webkit-transform: translateX(-19.0211px) translateY(-6.1803px); }
  60% { -webkit-transform: translateX(-16.1803px) translateY(-11.7557px); }
  65% { -webkit-transform: translateX(-11.7557px) translateY(-16.1803px); }
  70% { -webkit-transform: translateX(-6.1803px) translateY(-19.0211px); }
  75% { -webkit-transform: translateX(-0.0000px) translateY(-20.0000px); }
  80% { -webkit-transform: translateX(6.1803px) translateY(-19.0211px); }
  85% { -webkit-transform: translateX(11.7557px) translateY(-16.1803px); }
  90% { -webkit-transform: translateX(16.1803px) translateY(-11.7557px); }
  95% { -webkit-transform: translateX(19.0211px) translateY(-6.1803px); }
  100% { -webkit-transform: translateX(20.0000px) translateY(-0.0000px); }
}

#intro,
#describe,
#about,
#who { margin-top: 80px; }

#intro {
	position: relative;
	height: 470px;
}
#intro .cake-plate {
	position: absolute;
	top: 50px;
	left: 290px;
	-webkit-animation: floating 10s infinite linear;
}
#intro .question {
	position: absolute;
	text-shadow: 0px 0px 10px #fff;
}
#intro .question.first {
	top: 0; left: 0px;
	width: 300px;
}
#intro .question.second {
	bottom: 0; right: 0px;
	width: 300px;
	text-align: right;
}

#offscreen-elements-wrap {
	width: 100%;
	overflow-x: hidden;
}
#about .omega {
	position: relative;
}

#about .sled {
	-webkit-transform: translateX(600px) translateY(-600px);
	-webkit-transition: -webkit-transform 0.75s linear;
}

#about .sled.show {
	-webkit-transform: translateX(0px) translateY(0px);
}


#who h2 { margin-top: 40px; }

footer { margin-top: 80px; padding-bottom: 40px; }
footer .app-store { margin-top: 10px; }

/** Retina images **/
.cake-plate {
	width: 378px;
	height: 315px;
	background: url(../images/cake-plate.png) top left no-repeat;
	background-size: 378px 315px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	.cake-plate { background-image: url(../images/cake-plate@2x.png);	}
}

.oliver-head {
	width: 268px;
	height: 258px;
	background: url(../images/oliver-head.png) top left no-repeat;
	background-size: 268px 258px;

	position: absolute;
	top: 0; right: 0;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	.oliver-head { background-image: url(../images/oliver-head@2x.png); }
}

.app-store {
	display: block;
	width: 160px;
	height: 54px;
	background: url(../images/app-store.png) top left no-repeat;
	background-size: 160px 54px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	.app-store { background-image: url(../images/app-store@2x.png); }
}

.parents {
	display: block;
	width: 280px;
	height: 292px;
	background: url(../images/parents.png) top left no-repeat;
	background-size: 280px 292px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	.parents { background-image: url(../images/parents@2x.png); }
}

.sled {
	display: block;
	width: 280px;
	height: 269px;
	background: url(../images/sled.png) top left no-repeat;
	background-size: 280px 269px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	.sled { background-image: url(../images/sled@2x.png); }
}

.donut {
	display: block;
	width: 197px;
	height: 216px;
	background: url(../images/donut.png) top left no-repeat;
	background-size: 197px 216px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	.donut { background-image: url(../images/donut@2x.png); }
}
