@font-face {
  font-family: 'DidotDisplayDemi';
  src: url('didot/24B620_0_0.eot');
  src: url('didot/24B620_0_0.eot?#iefix') format('embedded-opentype'),
       url('didot/24B620_0_0.woff') format('woff'),
       url('didot/24B620_0_0.ttf') format('truetype');
}

@font-face {
  font-family: DINRoundWeb-Medium;
  src: url("din/DINRoundWeb-Medium.eot");
  src: url("din/DINRoundWeb-Medium.woff") format("woff");
}

body {
  font-family: 'DidotDisplayDemi';
  font-size: 22px;
  line-height: 35px;
  background: url(../images/clouds.jpg) fixed;
  color: #222;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}
h1, h2, h3, h4, h5, h6 { font-family: 'DidotDisplayDemi'; }
p { font-family: 'DINRoundWeb-Medium'; }

@-webkit-keyframes floating {
  0% { -webkit-transform: translateX(20.0000px) translateY(0.0000px); }
  5% { -webkit-transform: translateX(19.0211px) translateY(6.1803px); }
  10% { -webkit-transform: translateX(16.1803px) translateY(11.7557px); }
  15% { -webkit-transform: translateX(11.7557px) translateY(16.1803px); }
  20% { -webkit-transform: translateX(6.1803px) translateY(19.0211px); }
  25% { -webkit-transform: translateX(0.0000px) translateY(20.0000px); }
  30% { -webkit-transform: translateX(-6.1803px) translateY(19.0211px); }
  35% { -webkit-transform: translateX(-11.7557px) translateY(16.1803px); }
  40% { -webkit-transform: translateX(-16.1803px) translateY(11.7557px); }
  45% { -webkit-transform: translateX(-19.0211px) translateY(6.1803px); }
  50% { -webkit-transform: translateX(-20.0000px) translateY(0.0000px); }
  55% { -webkit-transform: translateX(-19.0211px) translateY(-6.1803px); }
  60% { -webkit-transform: translateX(-16.1803px) translateY(-11.7557px); }
  65% { -webkit-transform: translateX(-11.7557px) translateY(-16.1803px); }
  70% { -webkit-transform: translateX(-6.1803px) translateY(-19.0211px); }
  75% { -webkit-transform: translateX(-0.0000px) translateY(-20.0000px); }
  80% { -webkit-transform: translateX(6.1803px) translateY(-19.0211px); }
  85% { -webkit-transform: translateX(11.7557px) translateY(-16.1803px); }
  90% { -webkit-transform: translateX(16.1803px) translateY(-11.7557px); }
  95% { -webkit-transform: translateX(19.0211px) translateY(-6.1803px); }
  100% { -webkit-transform: translateX(20.0000px) translateY(-0.0000px); }
}

@-moz-keyframes floating {
  0% { -moz-transform: translateX(20.0000px) translateY(0.0000px); }
  5% { -moz-transform: translateX(19.0211px) translateY(6.1803px); }
  10% { -moz-transform: translateX(16.1803px) translateY(11.7557px); }
  15% { -moz-transform: translateX(11.7557px) translateY(16.1803px); }
  20% { -moz-transform: translateX(6.1803px) translateY(19.0211px); }
  25% { -moz-transform: translateX(0.0000px) translateY(20.0000px); }
  30% { -moz-transform: translateX(-6.1803px) translateY(19.0211px); }
  35% { -moz-transform: translateX(-11.7557px) translateY(16.1803px); }
  40% { -moz-transform: translateX(-16.1803px) translateY(11.7557px); }
  45% { -moz-transform: translateX(-19.0211px) translateY(6.1803px); }
  50% { -moz-transform: translateX(-20.0000px) translateY(0.0000px); }
  55% { -moz-transform: translateX(-19.0211px) translateY(-6.1803px); }
  60% { -moz-transform: translateX(-16.1803px) translateY(-11.7557px); }
  65% { -moz-transform: translateX(-11.7557px) translateY(-16.1803px); }
  70% { -moz-transform: translateX(-6.1803px) translateY(-19.0211px); }
  75% { -moz-transform: translateX(-0.0000px) translateY(-20.0000px); }
  80% { -moz-transform: translateX(6.1803px) translateY(-19.0211px); }
  85% { -moz-transform: translateX(11.7557px) translateY(-16.1803px); }
  90% { -moz-transform: translateX(16.1803px) translateY(-11.7557px); }
  95% { -moz-transform: translateX(19.0211px) translateY(-6.1803px); }
  100% { -moz-transform: translateX(20.0000px) translateY(-0.0000px); }
}

header { position: relative; height: 300px; }
header hgroup { position: relative; left: -80px; }
header h1 {
  color: #bf302f;
  text-shadow: 1px 1px 5px #fff;
  font-size: 125px;
  line-height: 135px;
  margin-top: 40px;
  padding-top: 140px;
}
header h3 {
  color: #5e090a;
  text-shadow: 1px 1px 5px #fff;
  position: absolute;
  bottom: -10px;
  left: 55px;
}
.oliver-head {
  position: absolute;
  top: 0; right: -60px;
}

#intro,
#describe { margin-top: 80px; }

#intro {
  position: relative;
  height: 400px;
}
#intro .cake-plate {
  position: absolute;
  top: 0px;
  left: 270px;
  -webkit-animation: floating 10s infinite linear;
  -moz-animation: floating 10s infinite linear;
}
#intro .question {
  position: absolute;
  text-shadow: 0px 0px 10px #fff;
  font-size: 40px;
  line-height: 43px;
}
#intro .question.first {
  top: 0px; left: 73px;
  width: 220px;
}
#intro .question.second {
  top: 100px; right: 0px;
  width: 300px;
  text-align: center;
}
#intro .question.third {
  top: 360px; left: 300px;
  text-align: center;
}

#describe .alpha {
  position: relative;
  top: -130px;
  text-align: center;
}

#describe .app-store {
  margin-top: 40px;
}

#offscreen-elements-wrap {
  width: 100%;
  overflow-x: hidden;
}
#about .omega {
  height: 331px;
  position: relative;
}

#about .sled {
  top: -100px;
  position: relative;
  transition: transform 0.75s linear;
  -webkit-transition: -webkit-transform 0.75s linear;
  -moz-transition: -moz-transform 0.75s linear;
  -o-transition: -o-transform 0.75s linear;
  -ms-transition: -ms-transform 0.75s linear;
  -khtml-transition: -khtml-transform 0.75s linear;
}

#about .sled.hide { display: none; }

#creative h2,
#production h2 { margin-top: 40px; }

#creative .alpha {
  position: relative;
  text-align: right;
  height: 900px;
}
#creative .app-store {
  margin-top: 230px;
  margin-right: 50px;
}
#creative .donut {
  position: absolute;
  top: 400px;
  left: -90px;
}

#production .alpha .app-store {
  text-align: center;
  margin-top: 40px;
}
#production .omega {
  position: relative;
  height: 881px;
}
#production .ice-cream {
  position: absolute;
  right: 0;
}

footer {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 319px;
  text-align: center;
}
footer .jellybeans {
  /*position: absolute;
  bottom: -40px;
  margin: auto;*/
  position: absolute;
  width: 110% !important;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -55%;
}

@-webkit-keyframes front {
  0% { -webkit-transform: translateX(20.0000px) translateY(0.0000px); }
  5% { -webkit-transform: translateX(19.0211px) translateY(6.1803px); }
  10% { -webkit-transform: translateX(16.1803px) translateY(11.7557px); }
  15% { -webkit-transform: translateX(11.7557px) translateY(16.1803px); }
  20% { -webkit-transform: translateX(6.1803px) translateY(19.0211px); }
  25% { -webkit-transform: translateX(0.0000px) translateY(20.0000px); }
  30% { -webkit-transform: translateX(-6.1803px) translateY(19.0211px); }
  35% { -webkit-transform: translateX(-11.7557px) translateY(16.1803px); }
  40% { -webkit-transform: translateX(-16.1803px) translateY(11.7557px); }
  45% { -webkit-transform: translateX(-19.0211px) translateY(6.1803px); }
  50% { -webkit-transform: translateX(-20.0000px) translateY(0.0000px); }
  55% { -webkit-transform: translateX(-19.0211px) translateY(-6.1803px); }
  60% { -webkit-transform: translateX(-16.1803px) translateY(-11.7557px); }
  65% { -webkit-transform: translateX(-11.7557px) translateY(-16.1803px); }
  70% { -webkit-transform: translateX(-6.1803px) translateY(-19.0211px); }
  75% { -webkit-transform: translateX(-0.0000px) translateY(-20.0000px); }
  80% { -webkit-transform: translateX(6.1803px) translateY(-19.0211px); }
  85% { -webkit-transform: translateX(11.7557px) translateY(-16.1803px); }
  90% { -webkit-transform: translateX(16.1803px) translateY(-11.7557px); }
  95% { -webkit-transform: translateX(19.0211px) translateY(-6.1803px); }
  100% { -webkit-transform: translateX(20.0000px) translateY(-0.0000px); }
}

@-moz-keyframes front {
  0% { -moz-transform: translateX(20.0000px) translateY(0.0000px); }
  5% { -moz-transform: translateX(19.0211px) translateY(6.1803px); }
  10% { -moz-transform: translateX(16.1803px) translateY(11.7557px); }
  15% { -moz-transform: translateX(11.7557px) translateY(16.1803px); }
  20% { -moz-transform: translateX(6.1803px) translateY(19.0211px); }
  25% { -moz-transform: translateX(0.0000px) translateY(20.0000px); }
  30% { -moz-transform: translateX(-6.1803px) translateY(19.0211px); }
  35% { -moz-transform: translateX(-11.7557px) translateY(16.1803px); }
  40% { -moz-transform: translateX(-16.1803px) translateY(11.7557px); }
  45% { -moz-transform: translateX(-19.0211px) translateY(6.1803px); }
  50% { -moz-transform: translateX(-20.0000px) translateY(0.0000px); }
  55% { -moz-transform: translateX(-19.0211px) translateY(-6.1803px); }
  60% { -moz-transform: translateX(-16.1803px) translateY(-11.7557px); }
  65% { -moz-transform: translateX(-11.7557px) translateY(-16.1803px); }
  70% { -moz-transform: translateX(-6.1803px) translateY(-19.0211px); }
  75% { -moz-transform: translateX(-0.0000px) translateY(-20.0000px); }
  80% { -moz-transform: translateX(6.1803px) translateY(-19.0211px); }
  85% { -moz-transform: translateX(11.7557px) translateY(-16.1803px); }
  90% { -moz-transform: translateX(16.1803px) translateY(-11.7557px); }
  95% { -moz-transform: translateX(19.0211px) translateY(-6.1803px); }
  100% { -moz-transform: translateX(20.0000px) translateY(-0.0000px); }
}

footer .jellybeans.front {
  -webkit-animation: front 8s infinite linear;
  -moz-animation: front 8s infinite linear;
}

@-webkit-keyframes mid {
  0%, 100% { -webkit-transform: translateX(-8.8168px) translateY(12.1353px); }
  5% { -webkit-transform: translateX(-12.1353px) translateY(8.8168px); }
  10% { -webkit-transform: translateX(-14.2658px) translateY(4.6353px); }
  15% { -webkit-transform: translateX(-15.0000px) translateY(0.0000px); }
  20% { -webkit-transform: translateX(-14.2658px) translateY(-4.6353px); }
  25% { -webkit-transform: translateX(-12.1353px) translateY(-8.8168px); }
  30% { -webkit-transform: translateX(-8.8168px) translateY(-12.1353px); }
  35% { -webkit-transform: translateX(-4.6353px) translateY(-14.2658px); }
  40% { -webkit-transform: translateX(-0.0000px) translateY(-15.0000px); }
  45% { -webkit-transform: translateX(4.6353px) translateY(-14.2658px); }
  50% { -webkit-transform: translateX(8.8168px) translateY(-12.1353px); }
  55% { -webkit-transform: translateX(12.1353px) translateY(-8.8168px); }
  60% { -webkit-transform: translateX(14.2658px) translateY(-4.6353px); }
  65% { -webkit-transform: translateX(15.0000px) translateY(-0.0000px); }
  70% { -webkit-transform: translateX(14.2658px) translateY(4.6353px); }
  75% { -webkit-transform: translateX(12.1353px) translateY(8.8168px); }
  80% { -webkit-transform: translateX(8.8168px) translateY(12.1353px); }
  85% { -webkit-transform: translateX(4.6353px) translateY(14.2658px); }
  90% { -webkit-transform: translateX(0.0000px) translateY(15.0000px); }
  95% { -webkit-transform: translateX(-4.6353px) translateY(14.2658px); }
}

@-moz-keyframes mid {
  0%, 100% { -moz-transform: translateX(-8.8168px) translateY(12.1353px); }
  5% { -moz-transform: translateX(-12.1353px) translateY(8.8168px); }
  10% { -moz-transform: translateX(-14.2658px) translateY(4.6353px); }
  15% { -moz-transform: translateX(-15.0000px) translateY(0.0000px); }
  20% { -moz-transform: translateX(-14.2658px) translateY(-4.6353px); }
  25% { -moz-transform: translateX(-12.1353px) translateY(-8.8168px); }
  30% { -moz-transform: translateX(-8.8168px) translateY(-12.1353px); }
  35% { -moz-transform: translateX(-4.6353px) translateY(-14.2658px); }
  40% { -moz-transform: translateX(-0.0000px) translateY(-15.0000px); }
  45% { -moz-transform: translateX(4.6353px) translateY(-14.2658px); }
  50% { -moz-transform: translateX(8.8168px) translateY(-12.1353px); }
  55% { -moz-transform: translateX(12.1353px) translateY(-8.8168px); }
  60% { -moz-transform: translateX(14.2658px) translateY(-4.6353px); }
  65% { -moz-transform: translateX(15.0000px) translateY(-0.0000px); }
  70% { -moz-transform: translateX(14.2658px) translateY(4.6353px); }
  75% { -moz-transform: translateX(12.1353px) translateY(8.8168px); }
  80% { -moz-transform: translateX(8.8168px) translateY(12.1353px); }
  85% { -moz-transform: translateX(4.6353px) translateY(14.2658px); }
  90% { -moz-transform: translateX(0.0000px) translateY(15.0000px); }
  95% { -moz-transform: translateX(-4.6353px) translateY(14.2658px); }
}

footer .jellybeans.mid {
  -webkit-animation: mid 8s infinite linear;
  -moz-animation: mid 8s infinite linear;
}

@-webkit-keyframes back {
  0%, 100%  { -webkit-transform: translateX(-5.8779px) translateY(-8.0902px); }
  5%  { -webkit-transform: translateX(-3.0902px) translateY(-9.5106px); }
  10% { -webkit-transform: translateX(-0.0000px) translateY(-10.0000px); }
  15% { -webkit-transform: translateX(3.0902px) translateY(-9.5106px); }
  20% { -webkit-transform: translateX(5.8779px) translateY(-8.0902px); }
  25% { -webkit-transform: translateX(8.0902px) translateY(-5.8779px); }
  30% { -webkit-transform: translateX(9.5106px) translateY(-3.0902px); }
  35% { -webkit-transform: translateX(10.0000px) translateY(-0.0000px); }
  40% { -webkit-transform: translateX(9.5106px) translateY(3.0902px); }
  45% { -webkit-transform: translateX(8.0902px) translateY(5.8779px); }
  50% { -webkit-transform: translateX(5.8779px) translateY(8.0902px); }
  55% { -webkit-transform: translateX(3.0902px) translateY(9.5106px); }
  60% { -webkit-transform: translateX(0.0000px) translateY(10.0000px); }
  65% { -webkit-transform: translateX(-3.0902px) translateY(9.5106px); }
  70% { -webkit-transform: translateX(-5.8779px) translateY(8.0902px); }
  75% { -webkit-transform: translateX(-8.0902px) translateY(5.8779px); }
  80% { -webkit-transform: translateX(-9.5106px) translateY(3.0902px); }
  85% { -webkit-transform: translateX(-10.0000px) translateY(0.0000px); }
  90% { -webkit-transform: translateX(-9.5106px) translateY(-3.0902px); }
  95% { -webkit-transform: translateX(-8.0902px) translateY(-5.8779px); }
}

@-moz-keyframes back {
  0%, 100%  { -moz-transform: translateX(-5.8779px) translateY(-8.0902px); }
  5%  { -moz-transform: translateX(-3.0902px) translateY(-9.5106px); }
  10% { -moz-transform: translateX(-0.0000px) translateY(-10.0000px); }
  15% { -moz-transform: translateX(3.0902px) translateY(-9.5106px); }
  20% { -moz-transform: translateX(5.8779px) translateY(-8.0902px); }
  25% { -moz-transform: translateX(8.0902px) translateY(-5.8779px); }
  30% { -moz-transform: translateX(9.5106px) translateY(-3.0902px); }
  35% { -moz-transform: translateX(10.0000px) translateY(-0.0000px); }
  40% { -moz-transform: translateX(9.5106px) translateY(3.0902px); }
  45% { -moz-transform: translateX(8.0902px) translateY(5.8779px); }
  50% { -moz-transform: translateX(5.8779px) translateY(8.0902px); }
  55% { -moz-transform: translateX(3.0902px) translateY(9.5106px); }
  60% { -moz-transform: translateX(0.0000px) translateY(10.0000px); }
  65% { -moz-transform: translateX(-3.0902px) translateY(9.5106px); }
  70% { -moz-transform: translateX(-5.8779px) translateY(8.0902px); }
  75% { -moz-transform: translateX(-8.0902px) translateY(5.8779px); }
  80% { -moz-transform: translateX(-9.5106px) translateY(3.0902px); }
  85% { -moz-transform: translateX(-10.0000px) translateY(0.0000px); }
  90% { -moz-transform: translateX(-9.5106px) translateY(-3.0902px); }
  95% { -moz-transform: translateX(-8.0902px) translateY(-5.8779px); }
}

footer .jellybeans.back {
  -webkit-animation: back 8s infinite linear;
  -moz-animation: back 8s infinite linear;
}

/** Retina images **/
.cake-plate {
  width: 378px;
  height: 315px;
  background: url(../images/cake-plate.png) top left no-repeat;
  background-size: 378px 315px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .cake-plate { background-image: url(../images/cake-plate@2x.png); }
}

.oliver-head {
  width: 401px;
  height: 386px;
  background: url(../images/oliver-head.png) top left no-repeat;
  background-size: 401px 386px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .oliver-head { background-image: url(../images/oliver-head@2x.png); }
}

.app-store {
  display: inline-block;
  width: 230px;
  height: 78px;
  background: url(../images/app-store.png) top left no-repeat;
  background-size: 230px 78px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .app-store { background-image: url(../images/app-store@2x.png); }
}

.parents {
  display: block;
  width: 280px;
  height: 292px;
  background: url(../images/parents.png) top left no-repeat;
  background-size: 280px 292px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .parents { background-image: url(../images/parents@2x.png); }
}

.sled {
  display: block;
  width: 502px;
  height: 481px;
  background: url(../images/sled.png) top left no-repeat;
  background-size: 502px 481px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .sled { background-image: url(../images/sled@2x.png); }
}

.donut {
  display: block;
  width: 400px;
  height: 438px;
  background: url(../images/donut.png) top left no-repeat;
  background-size: 400px 438px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .donut { background-image: url(../images/donut@2x.png); }
}

.ice-cream {
  display: block;
  width: 321px;
  height: 794px;
  background: url(../images/ice-cream.png) top left no-repeat;
  background-size: 321px 794px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .ice-cream { background-image: url(../images/ice-cream@2x.png); }
}

.jellybeans.front {
  display: block;
  width: 1418px;
  height: 319px;
  background: url(../images/jellybeans-front.png) top center no-repeat;
  background-size: 1418px 319px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .jellybeans.front { background-image: url(../images/jellybeans-front@2x.png); }
}

.jellybeans.mid {
  display: block;
  width: 1418px;
  height: 319px;
  background: url(../images/jellybeans-mid.png) top center no-repeat;
  background-size: 1418px 319px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .jellybeans.mid { background-image: url(../images/jellybeans-mid@2x.png); }
}

.jellybeans.back {
  display: block;
  width: 1418px;
  height: 319px;
  background: url(../images/jellybeans-back.png) top center no-repeat;
  background-size: 1418px 319px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .jellybeans.back { background-image: url(../images/jellybeans-back@2x.png); }
}
